.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid rgb(219, 108, 108);
  margin: auto;
  background-color: #f2f2f2;
}
#dino {
  width: 60px;
  height: 50px;
  background-image: url(img/dino.png);
  background-size: 50px 50px;
  position: relative;
  top: 145px;
}
#cactus {
  width: 20px;
  height: 20px;
  background-image: url(img/cactus.png);
  background-size: 20px 30px;
  position: relative;
  top: 125px;
  left: 560px;
  animation: cactusMov 1s infinite linear;
}
@keyframes cactusMov {
  0% {
    left: 580px;
  }
  100%{
    left: -20px;
  }
}